.car-tile {
    display: flex;
    margin: 10px 20px;
    border: 1px solid $gray-light;
    padding: 10px;

    > img {
        width: 100px;
        height: auto;
        border: 1px solid $gray-light;
        margin: auto 20px auto 10px;
    }
    > .card-wrapper {
        flex: 1;

        .tab-list {
            flex-direction: column;

            > a {
                padding: 0;
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}
