.tab-list {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;

    > *{
        padding: 5px 10px;
        width: 100px;
        display: flex;
        cursor: pointer;
        white-space: nowrap;
        text-decoration: none;
        color: inherit;
        text-align: right;

        &:hover {
             color: $orange-light;
         }
    }
    > .active {
        color: $orange-dark;

        &:hover {
             color: $orange-light;
         }
    }
}
