.btn {
    width: $width-btn;
    height: $height-btn;
    padding: 1px 11px;
    cursor: pointer;

    &:not(.dropdown-toggle):not(.btn-link) {
         min-width: 40px;
     }
    &:enabled:active, &:enabled:focus {
         text-decoration: underline;
     }
    &.btn-default {
        background: $orange-light;
        border: 1px solid $orange-dark;
        color: white;
        &:hover {
            background: $orange-dark;
         }
     }
    &[disabled] {
        cursor: not-allowed;
         background: transparent;
         border: 1px solid transparent;
         color: $gray-dark;
     }
}

.btn span.svg-icon {
    display: inline-flex;
    height: 12px;
    width: 12px;
    margin: 0 5px 0 2px;
}

.btn-link, .btn-link > a {
    color: $orange-light;
    display: block;
    padding: 1px 6px 1px 0;
    text-decoration: none;
    border-width: 0;
    text-align: left;

    &:hover, &:active {
         text-decoration: none;
        color: $orange-dark;
     }

    span.svg-icon {
        display: inline-block;
    }
}
